{% extends "base.html" %}
{% load static %}
{% block title %}Team Detail{% endblock %}
{% block content %}
<div>
    <form method="post" id="team-detail-form">
        <table>
            {% csrf_token %}
            {{ team_form.non_field_errors.as_table }}
            {{ team_form.as_table }}
            <tr>
                <th></th>
                <td>
                    <button type="submit" name="submit_team">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock content %}
