{% extends "base.html" %}
{%  load static %}
{% block title %} Teams {% endblock %}
{% block caption  %} Teams {% endblock caption  %}
{% block content %}
    <div>
    {% if request.user.is_staff %}
        <form class="form" action="{% url 'teams' %}" method="post">
            {% csrf_token %}
            <input class="input" type="text" name="name" placeholder="Name" required>
            <input class="input" type="text" name="country" placeholder="Country" required>
            <button type="submit">Save 💾</button>
        </form>
    {% endif %}
    </div>
    <div>
        <table class="card">
            <tr>
                <th class="card__title">Name</th>
                <th class="card__title">Country</th>
            </tr>
            {% for team in team_list %}
                <tr>
                    <td class="item">{{ team.name}}</td>
                    <td class="item">{{ team.country}}</td>
                    <td  class="item">
                        <a href="{% url 'team_detail' team.id %}">⋮</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}