{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="wrapper">
    {% block header %}{% include 'core/includes/header.html' %}{% endblock header %}
    <main>
        <h3>{% block caption %}{% endblock caption %}</h3>
        {% block content %}{% endblock content %}
    </main>
    {% block footer %}{% include 'core/includes/footer.html' %}{% endblock footer %}
    </div>
</body>
</html>

